$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "libs/varsMixins";

body {
  font-family: $body-font;
  font-size: $default-size;
}

p {
  letter-spacing: 0.075em;
}

a {
  @include transition();
  color: black;
  text-decoration: none;
  &:hover {
    color: $grey;
    text-decoration: none;
  }
}

blockquote {
  color: $dark-grey;
}

.body-wrapper {
  @include breakpoint(med) {
    width: 100%;
    margin: 0;
  }
  margin: 0 auto;
  width: 950px;
}

// Headings-----------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
}

header {
  h1 {
    @include breakpoint(sm) {
      display: inline;
    }
    @media (max-width: 500px) {
      font-size: 36px;
    }
    @media (max-width: 360px) {
      font-size: 32px;
    }
    padding-left: 15px;
    font-size: 42px;
  }
  hr {
    border: 1px solid $black;
    margin-top: -20px;
  }
}

// Footer-------------------------------
#footer {
  min-height: 100px;
  background: $black;
  color: $white;
  text-align: center;
  padding: 20px 0 20px 0;
}

// Navigation---------------------------
.nav-style {
  @extend .navbar-default;
  @media (max-width: 500px) {
    margin-top: 20px;
  }
  border: none;
  background: $white;

  a {
    text-transform: uppercase;
    font-size: $nav-link-size;
    font-family: $heading-font;
    color: $black !important;
  }
  a:hover {
    color: $grey !important;
  }
}

.nav-container {
  @extend .container-fluid;
  padding: 0;
}

.nav-toggle {
  @extend .navbar-toggle;
  @media (max-width: 500px) {
    margin-top: 0;
  }
  border: none;
}

.dropdown-menu-style {
  @extend .dropdown-menu;

  li > a:hover {
    background: $white;
  }
}

// Text--------------------------------
#text-wrapper {
  margin: 40px 0;
  padding: 0 20px;

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

// Articles-----------------------------
.blog-row {
  @extend .row;
  margin-bottom: 40px;
}

.article-desc {
  @extend .col-md-4;
  @include breakpoint(med) {
    border-top: none;
  }

  border-top: $border;

  a {
    font-weight: 700;
  }
}

.article-body {
  @extend .col-md-8;
}

.article-side {
  @extend .col-md-4;
  border-top: $border;
}

//Links page------------------------------
.section-head {
  text-align: center;
}

.links-row {
  @include breakpoint(med) {
    border-top: none;
  }
  margin-bottom: 40px;

  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }

  p {
    font-size: $small-size;
    color: $dark-grey;
  }
}

//About-----------------------------------
#about-wrapper {
  margin: 40px 0;
  padding: 0 20px;
}

#about-img {
  @include breakpoint(exsm) {
    float: none;
    height: auto;
    width: 100%;
  }
  height: 400px;
  float: left;
  margin: 0 10px 10px 0;

  img {
    height: inherit;
  }
}

//Canvas-----------------------------------
#slider-div {
  position: relative;

  ul {
    overflow: hidden;
    position: absolute;
  }

  li {
    position: absolute;
    display: none;
    z-index: 10;
  }

  li:first-child {
    display: block;
    z-index: 1000;
  }

  #slider-active {
    z-index: 1000;
  }

  .previous {background-position:left top;left:0;}
  .previous:hover {background-position:left bottom;}

  .next {background-position:right top;right:0;}
  .next:hover {background-position:right bottom;}
}

#canvas-btn-div {
  text-align: center;
  margin: 20px 0;

  button {
    @include transition();
    border: none;
    font-family: $heading-font;
    font-size: 24px;
    background: $white;
    &:hover {
      color: $grey;
    }
  }
}

//Fade art--------------------------------
#fadeArt-wrapper {
  position: relative;
  height: 600px;
}

.fade-div {
  position: absolute;
  text-align: center;
  font-size: 150px;
  height: 200px;
  width: 300px;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.f-img-div {
  position: absolute;
  height: 200px;
  width: 300px;
}

.fade-img {
  position: absolute;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

#fade1 {
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#fade2 {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
}

#fade3 {
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#fade4 {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

#fadeImg1 {
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#fadeImg2 {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
}

#fadeImg3 {
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#fadeImg4 {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}
