$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "libs/vars";
@import "libs/mixins";

body {
  font-family: $body-font;
}

p {
  letter-spacing: 0.075em;
}

a {
  color: black;
  text-decoration: none;
}

#body-wrapper {
  margin: 0 auto;
  width: 950px;
}

// Headings-----------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 500;
  margin-top: 10px;
  text-transform: uppercase;
}

header {
  h1 {
    padding-left: 15px;
    font-size: 42px;
  }
  hr {
    border: 1px solid $black;
    margin-top: -20px;
  }
}

// Footer-------------------------------
#footer {
  min-height: 100px;
  background: $black;
  color: $white;
  text-align: center;
  padding: 20px 0 20px 0;
}

// Navigation---------------------------
.nav-style {
  @extend .navbar-default;
  border: none;
  background: $white;

  a {
    text-transform: uppercase;
    font-size: $nav-link-size;
    color: $black !important;
  }
}

.nav-container {
  @extend .container-fluid;
  padding: 0;
}

// Text--------------------------------
#text-wrapper {
  margin: 40px 0;
  padding: 0 20px;

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section-head {
  text-align: center;
}

.blog-row {
  @extend .row;
  margin-bottom: 40px;
}

.article-desc {
  @extend .col-md-4;
  border-top: $top-bdr;

  a {
    font-weight: 700;
  }
}

.pdf-row {
  border-top: $top-bdr;
  margin-bottom: 40px;
}
